# DocTable Example: Schemas
In this example, we show column specifications for each available type, as well as the [sqlalchemy equivalents](https://docs.sqlalchemy.org/en/13/core/type_basics.html) on which they were based. Note that .

Each column in the schema passed to doctable is a 2+ tuple containing, in order, the column type, name, and arguments, and optionally the sqlalchemy type arguemnts.

In [1]:
from datetime import datetime
from pprint import pprint
import pandas as pd

import sys
sys.path.append('..')
import doctable

In [2]:
@dataclass
class MyClass(doctable.RowBase):
    # builtin column types
    idx: int = doctable.IDCol()
        
    # unique name
    name: str = doctable.Col(unique=True) # want to be the first ordered argument

    
    # special columns for added and updated
    updated: datetime.datetime = doctable.UpdatedCol()
    added: datetime.datetime = doctable.AddedCol()

    # custom column types 
    lon: float = doctable.Col()
    lat: float = doctable.Col()

    # use Col to use factory to construct emtpy list
    # will be stored as binary/pickle type, since no other available
    elements: Sequence = doctable.Col(list) 
    
    # indices and constraints
    _indices_ = {
        'lonlat_index': ('lon', 'lat', {'unique':True}),
        'name_index': ('name',),
    }
    _constraints_ = (
        ('check', 'lon > 0', {'name':'check_lon'}), 
        ('check', 'lat > 0'), 
        #('foreignkey', ('a','b'), ('c','d'))
    )
md = dt.DocTable(schema, verbose=True)
#pprint(md.schemainfo)
pd.DataFrame(md.schemainfo)

         name          type  nullable default autoincrement  primary_key
0          id       INTEGER     False    None          auto            1
1    category       VARCHAR     False    None          auto            0
2       title       VARCHAR     False    None          auto            0
3    abstract       VARCHAR      True    None          auto            0
4         age       INTEGER      True    None          auto            0
5  updated_on      DATETIME      True    None          auto            0
6        text  VARCHAR(500)      True    None          auto            0
7   json_data       VARCHAR      True    None          auto            0
8   tokenized          BLOB      True    None          auto            0
9   text_file       VARCHAR      True    None          auto            0